{% extends "base.html" %}
{% load i18n %}

{% block sidebar %}
{% endblock %}

{% block header_ext %}
{% endblock %}

{% block content %}
{% load app_filters %}
<div class="rowOfBoxes">
   <!--div class="twoThirds noBorderOnLeft"-->
   <div class="noBorderOnLeft">
      <center><h1>{% trans "Welcome!" %}</h1></center>
      <!--p>Welcome to your new installation of <a href="http://evennia.com">Evennia</a>, your friendly
      neighborhood next-generation MUD development system and server. You are looking at Evennia's web
      presence, which can be expanded to a full-fledged site as
      needed. Through the <a href="/admin">admin interface</a> you can view and edit the
      database without logging into the game.
        {% if webclient_enabled %}
        You can also connect to the game directly from your browser using our
        <a href='/webclient'>online client</a>!<br></br>
        {% endif %}
      For more info, take your time to
      peruse our extensive online <a href="http://code.google.com/p/evennia/wiki/Index">documentation</a>.
      <p>
      Should you have any questions, concerns, bug reports, or
      if you want to help out, don't hesitate to join the Evennia community to make your voice heard! Drop a mail to the
      <a href="http://evennia.com/discussions">mailing list</a> or to come say hi in the <a href="http://webchat.freenode.net/?channels=evennia">developer chatroom</a>. If you find bugs, please report them to our <a href="http://code.google.com/p/evennia/issues/list">Issue tracker</a>.
      </p-->
      <p>中原大地，风云变幻。立国千年以来，五大门派、三大世家、朝廷官府各怀心思，明争暗斗不休。如今朝堂动荡，皇权更迭在即，沉寂已久的古老势力正在苏醒，江湖即将再起波澜。</div>

   <!-- news app commented out since there are no news in the database originally -->

   <div class="oneThird">
      <h1>{% trans "Latest News" %}</h1>
      {% for entry in news_entries %}
         <a href="/news/show/{{entry.id}}" class="newsHeading">{{entry.topic.name}}: {{entry.title}}</a>
         <p class="newsDate">{% blocktrans with author=entry.author.username %}By {{ author }} on{% endblocktrans %} {{entry.date_posted|time}}</p>
         <p class="newsSummary">{{entry.body|truncatewords:20}}</p>
      {% endfor %}

      <div class="more"><a href="/news/archive">{% trans "More News" %} &raquo;</a></div>

      <p class="filler"><!-- Filler para to extend left vertical line--></p>
   </div>
   <div class="oneThird">
	  <h1>{% trans "Current Story" %}</h1>
	  <a href="/character/story/" class="newsHeading">{{ chapter.story.name}}: {{chapter.name}}</a>
	  <p class="newsSummary">{{chapter.synopsis|mush_to_html|truncatewords:80}}</p>
	  <p class="filler"></p>
   </div>
   <div class="oneThird">
	  <h1>{% trans "Upcoming Events" %}</h1>
	  {% for event in events %}
	  <a href="{% url 'dominion:display_event' event.id %}" class="newsHeading">{{event.name|mush_to_html}}</a>
	  <p class="newsDate">{{event.date}}</p>
	  <p class="newsSummary">{{event.desc|mush_to_html|truncatewords:20}}</p>
	  {% endfor %}
	  <div class="more"><a href="{% url 'dominion:list_events' %}">{% trans "More Events" %} &raquo;</a></div>
   </div>
</div>

<div class="rowOfBoxes dividingBorderAbove">

   <div class="quarter noBorderOnLeft">
      <h1>{% trans "Players" %}</h1>
      <p>
      {% blocktrans with connected=num_players_connected registered=num_players_registered %}There's currently <strong>{{ connected }}</strong> connected out of a total of <strong>{{ registered }}</strong> players registered.{% endblocktrans %}
      </p>
   </div>

   <div class="quarter">
      <h1>{% trans "Recently Connected" %}</h1>
      <ul>
      {% for player in players_connected_recent %}
      <li>{{player.username}} -- <em>{% blocktrans with time=player.last_login|timesince %}{{ time }} ago{% endblocktrans %}</em></li>
      {% endfor %}
      </ul>
      <p class="filler"><!-- Filler para to extend left vertical line --></p>
   </div>

   <div class="quarter">
      <h1>{% trans "Database Stats" %}</h1>
      <ul>
      <li>{% blocktrans with players=num_players_registered characters=num_characters %}{{ players }} players (+ {{ characters }} characters){% endblocktrans %}</li>
      <li>{% blocktrans with rooms=num_rooms exits=num_exits %}{{ rooms }} rooms (+ {{ exits }} exits){% endblocktrans %}</li>
      <li>{% blocktrans with others=num_others %}{{ others }} other objects{% endblocktrans %}</li>

      </ul>
   </div>

   <div class="quarter">
      <h1>{% trans "Telnet Address" %}</h1>
      <p>play.arxmush.org:3000</p>
       <h1>{% trans "Other Stuff" %}</h1>
       <p><a href="http://arx.mythicus.net">{% trans "江湖百科" %}</a></p>
       <p><a href="http://tehomcd.github.io">{% trans "开发日志" %}</a></p>
   </div>

</div>
{% endblock %}
